@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<select>
    @foreach (var make in Model)
    {
        <option value="@make.Make_ID">@make.Make_Name</option>
    }
</select>
